.site-info .name {
  margin-bottom: 1rem;
  font-style: normal;
  font-size: 2em;
  line-height: 2rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
}

.navbar ul {
  padding: unset !important;
  margin: unset !important;
}

.navbar ul li {
  display: inline-block;
  border-right: 1px solid #eaecef;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar ul li:first-child {
  padding-left: 0px;
}

.navbar ul li:last-child {
  border-right: 0px;
  margin-right: 0px;
  padding-right: 0px;
}

.navbar ul li a {
  color: unset !important;
}

.site-info .description {
  margin-top: 2rem;
}

.site-info .socials {
  margin-top: 0.5rem;
}

.site-info .socials a {
  text-decoration: underline;
}
