.site-info .name {
  margin-bottom: var(--space-sm);
  font-style: normal;
  font-size: var(--font-size-xxl);
  line-height: var(--space-lg);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
}

.navbar ul {
  padding: unset !important;
  margin: unset !important;
}

.navbar ul li {
  display: inline-block;
  border-right: 1px solid var(--color-border);
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar ul li:first-child {
  padding-left: 0;
}

.navbar ul li:last-child {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}

.navbar ul li a {
  color: unset !important;
}

.site-info .description {
  margin-top: var(--space-md);
  margin-bottom: var(--space-lg);
}

.site-info .socials {
  margin-top: var(--space-xs);
}

.site-info .socials a {
  text-decoration: underline;
}
