.posts .item {
  display: flex;
}

.posts .item .date {
  float: left;
  display: block;
  min-width: 80px;
  margin-right: var(--space-lg);
  color: var(--color-text-light);
}

/* Mobile optimization */
@media screen and (max-width: 480px) {
  .posts .item .date {
    display: none;
  }
  
  .posts .item {
    flex-direction: column;
  }
}
