.content .info * {
  margin-right: 8px;
}

.content .info .author {
  text-transform: uppercase;
  font-weight: 700;
}

.content .cc {
  border-top: 1px solid var(--color-border); 
  border-bottom: 1px solid var(--color-border); 
  margin: var(--space-xl) 0 var(--space-sm) 0; 
  padding: var(--space-sm) 0;
}

.content .changelogs {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding-left: 10px;
  padding-bottom: 16px;
  margin-bottom: 32px;
  margin-top: 16px;
}

.content .changelogs .title {
   border-right: 1px solid var(--color-border);
   border-bottom: 1px solid var(--color-border);
   margin: 0 0 10px -10px;
   display: inline-block;
   padding: 2px 10px;
   font-weight: bold;
}

.content .changelogs span.note {
  display: inline-block;
  margin-left: 10px;
}
