.content .info {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eaecef;
}

.content .info * {
  margin-right: 8px;
}

.content .info .author {
  text-transform: uppercase;
  font-weight: 700;
}

.content .cc {
  border-top: 1px solid #eaecef; 
  border-bottom: 1px solid #eaecef; 
  margin: 4em 0em 1em 0em; 
  padding: 1em 0em;
}

.content .changelogs {
  border: 1px solid #eaecef;
  border-radius: 2px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.content .changelogs .title {
   border-right: 1px solid #eaecef;
   border-bottom: 1px solid #eaecef;
   margin: 0px 0px 10px -10px;
   display: inline-block;
   padding: 2px 10px;
   font-weight: bold;
}

.content .changelogs span.note {
  display: inline-block;
  margin-left: 10px;
}
