* {
  margin: 0px;
  padding: 0px;
  color: #212529;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  font-family: "IBM Plex Mono",-apple-system,"Helvetica Neue",Arial,"LXGW WenKai","PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
  font-size: 1.08em;
  font-weight: normal;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  width: 85%;
  max-width: 62rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.section-title {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-style: normal;
  font-size: 1.5em;
}

.section-title:first-child {
  margin-top: 0rem;
}

.footer {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.footer .copyright {
  float: left;
}

.footer .navbar {
  float: right;
  margin-top: -1px;
}

code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
  color: #515151;
}

.horizontal-li {
  float: left;
  list-style-type: none;
  margin-right: 20px;
  margin-bottom: 10px;
  color: #6c757d;
}

::selection {
    background: rgba(178, 224, 251, 0.5); 
}

::-moz-selection {
    background: rgba(178, 224, 251, 0.5); 
}

::-webkit-selection {
    background: rgba(178, 224, 251, 0.5); 
}

@media screen and (prefers-color-scheme: light) {
  * {
    color: #212529;
  }
  body {
    background-color: #ffffff;
  }
}

@media screen and (prefers-color-scheme: dark) {
  * {
    color: #f0f0f0;
  }
  body {
    background-color: #212529;
  }
}
